{% include header.html %}
<pre>
{% if post.start %}<b>When:</b> <span id="dateString"></span>{% endif %}
{% if post.where %}<b>From:</b> {{ site.data.locations.[post.where].where_html }}
{% endif %}
{{ post.content }}
{{ site.data.locations.[post.where].directions }}

</pre>

<div id="paginator">
    {% if post.previous.url %}
        <a href="{{ post.previous.url }}">
        &laquo; Previously</a>
    {% endif %}

    {% if post.next.url %}
        <span class="more">
        <a href="{{ post.next.url }}">
        After this &raquo; </a>
        </span>
    {% endif %}
</div>

<!-- time zone stuff -->
<script src="../scripts/moment.js"></script>
<script type="text/javascript">
(function(){
  var getDateDisplay = function(startString, endString){
    var startDate = moment(startString, moment.ISO_8601, true);
    var endDate = moment(endString, moment.ISO_8601, true);

    if (!startDate.isValid()) return '';

    var final = startDate.format('lll');

    if (endDate.isValid()){
      final += ' - ' + endDate.format('h:mm A');
    }

    final += ' (times are ' + startDate.format('Z') + ' UTC)';

    return final;
  };

  var startString = "{{ post.start }}";
  var endString = "{{ post.end }}";
  var span = document.getElementById('dateString');
  span.appendChild(document.createTextNode(getDateDisplay(startString, endString)));

})();
</script>
