{% include header.html %}
<div id="post">
<div id="preamble">
<dl id="whenwhere">{% if post.start %}<dt>When:</dt><dd><span id="dateString"></span></dt>{% endif %}
{% if post.where %}<dt>From:</dt><dd>{{ site.data.locations.[post.where].where_html }}</dd>
{% endif %}
</dl>
</div>
{{ post.content }}
{{ site.data.locations.[post.where].directions }}


<div id="paginator">
    {% if post.previous.url %}
        <a href="{{ post.previous.url }}">
        &laquo; Previously</a>
    {% endif %}

    {% if post.next.url %}
        <span class="more">
        <a href="{{ post.next.url }}">
        After this &raquo; </a>
        </span>
    {% endif %}
</div>

<!-- time zone stuff -->

<script type="text/javascript">

window.addEventListener('load', function(){

  var startString = "{{ post.start }}";
  var endString = "{{ post.end }}";
  var timezone = "{{ post.timezone }}";
  var span = document.getElementById('dateString');
  var finalText = window.eulerroom.getDateDisplay(startString, endString, timezone);
  span.appendChild(document.createTextNode(finalText));

});
</script>
</div>
