<!DOCTYPE html>

<html>
    <head>
	<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700' rel='stylesheet' type='text/css'>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <style>
            body {
                margin-left: 30px;
	        max-width:500px;
   	        font-family: 'Istok Web', sans-serif;
            }
	    .codeface {
	      float: right;
	    }
	    h3 {
	    padding: 0;
	    margin: 0;
	    }
	    .label {
	      font-style:italic;
	    }
        </style>
    </head>

    <body>
<form action="//slab.us12.list-manage.com/subscribe/post?u=b43bcefd85aeb00e9dcf72f89&amp;id=f7f2f959cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <a href="/">upcoming</a> / <a href="/about">about</a> / <a href="/archive">archive</a> / <a href="/people">people</a> / email: <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

</form>

<!--End mc_embed_signup-->

        {{ content }}
        
        <script src="/scripts/moment.js"></script>
        <script src="/scripts/moment-timezone-with-data-2010-2020.min.js"></script>
        <script src="/scripts/custom.js"></script>
    </body>

</html>
